extends layout

block content
    .main
        .container
            .header
                header Accueil
            .line
            h3 Bienvenue #{lastname} #{firstname}
            br
            .table-container
                table.table
                    thead
                    th Date
                    th Description
                    th fMin
                    th fMax
                    th fMoy
                    th Début
                    th Fin
                    th Durée
                    tbody
                        block table-fill
            .div
                h3 Saisir de nouvelles données
                form(action='/homepage' method='post')
                    label Charger un fichier
                    input.btn-file(type='file' accept='.json' name='file' required='')
                    input.btn-ok-file(type='submit' value='Ok')
                button#alt.btn-basic(onclick="homepage.loadpage()") Modifier mes données
                br
                button#logout.btn-basic(onclick="window.location.href='/login'") Déconnexion
