<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Sophie BERTRAND">
    <meta name="description" content="Sign Up">

    <link rel="stylesheet" href="/static/css/signup.css">

    <title>Sign Up</title>
</head>

<body>

    <div class="main">
        <div class="container">
            <div class="header">
                <header id="head">Accueil</header>
            </div>
            <div class="#">
                <form action="#" method="POST">
                    <label class="#">Charger une fichier</label>
                    <input type="file" accept=".json" required>
                    <input type="submit" value="Ok">
                </form>
            </div>
            <div class="#">
                <label class="#">Modifier mes données</label>
                <button id="#" onClick="changecredentials.html">Aller</button>
            </div>
            <button id="#">Déconnexion</button>
        </div>
    </div>

</body>

</html>