<!DOCTYPE html>

<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>SportTrack</title>
  <link href="/static/css/login.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class = "arriere">
        <div class = "avant">
            <form method="POST" action="/login.php">
                <label for="femail">Email :</label><br>
                <input type="email" id="femail" value=" " pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required> <br>
                <label for="fmdp">Mot de Passe :</label><br>
                <input type="password" id="fmdp" value=" " required>
                <br><br>
                <input type="submit" value="Connection">
              </form> 
        </div>
    </div>
</body>

</html>
