<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Sophie BERTRAND">
    <meta name="description" content="Sign Up">

    <link rel="stylesheet" href="#">

    <title>Sign Up</title>
</head>

<body>

    <div class="#">
        <div class="#">
            <form method="POST">
                <div class="#">
                    <label class="#">Nom</label>
                    <input type="text" class="#" placeholder="Nom" required>

                    <label class="#">Prénom</label>
                    <input type="text" class="#" placeholder="Prénom" required>
                </div>
                <div class="#">
                    <label class="#">Date de naissance</label>
                    <input type="date" id="#" required>
                </div>
                <div class="#">
                    <label class="#">Sexe</label>
                    <input type="radio" class="#" value="Masculin">
                    <input type="radio" class="#" value="Féminin">
                    <input type="radio" class="#" value="Autre">
                </div>
                <div class="#">
                    <label class="#">Taille (cm)</label>
                    <input type="range" id="#" min="0" max="250">

                    <label class="#">Poids (kg)</label>
                    <input type="range" id="#" min="0" max="250">
                </div>
            </form>
        </div>
    </div>

</body>

</html>